body {
  margin: 0;
}

tg-header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255 255 255 / 0.9);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px black;
}
tg-header > h1 {
  margin: 0;
  margin-top: 2em;
  padding: 0.5em 1em;
}
tg-content {
  display: block;
}
tg-content > .messages {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
tg-message {
  white-space: pre-wrap;
  display: block;
  max-width: max-content;
  width: auto;
  overflow-wrap: break-word;
  margin: .5em 1em;
  padding: .5em;
  line-height: 1.5em;
  border-radius: .5em;
  outline: 1px solid black;
  overflow: hidden;
}
tg-message:empty {
  display: none;
}
tg-message * {
  font-size: inherit;
}
tg-message pre {
  display: block;
  white-space: pre-wrap;
  max-width: max-content;
  width: auto;
  overflow-wrap: break-word;
}

tg-message img {
  display: block;
  max-width: calc(100% + 1em);
  margin-top: -.5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: .5em;
}

tg-message img.only {
  margin-bottom: -.5em;
}

tg-message-entity {
  background-color: rgb(0 0 0 / 0.1);
}

tg-message-document {
  display: block;
}